
<nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Gata Cheirosa</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
          <ul class="right hide-on-med-and-down">
            <app-menu-principal-lista></app-menu-principal-lista>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <app-menu-principal-lista></app-menu-principal-lista>
      </ul>

      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">dkadlsjdksaj</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>