/* You can add global styles to this file, and also import other style files */

$corPrincipal: #C71585;
$corTexto: #4C4A48;
$corTextoClaro: #FFF5EE;

body{
    font-family: sans-serif;
    color: $corTexto;
    font-size: 10px;
}